a, a:visited{
	text-decoration: none;
}
.gogo{
	color: red;
}
.text{
	font-size: 25px;
}
.text:first-line{
	color: green;
}
.text:first-letter{
	color: red;
}
.list li{
	text-indent: -30px;
}
.list li:before{
	content:'';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	margin: 0 10px 0 0;
	transition: 1.5s;
}
.list li:after{
	content: 'Э';
	color: red;
	font-weight: 900;
}
.list li:hover:before{
/*	background: yellow;
	box-shadow: 0px 0px 7px 7px red;*/
	animation-name: circle;
	animation-duration: 4s;
	animation-iteration-count: infinite;

}
@keyframes circle{

0%{
	background: yellow;
	box-shadow: 0px 0px 4px 4px rgba(236,232,157,0.3);
}
50%{
	background: yellow;
	box-shadow: 0px 0px 7px 7px rgba(236,232,157,1);
}
100%{
	background: yellow;
	box-shadow: 0px 0px 4px 4px rgba(236,232,157,0.3);
}
}


body{
/* Old browsers */
background-color: rgb(236,232,157);
/* FF3.6-15 */
background-image: -moz-linear-gradient(top, rgba(236,232,157,1) 0%, rgba(94,83,115,1) 50%, rgba(24,181,164,1) 100%);
/* Chrome10-25,Safari5.1-6 */
background-image: -webkit-linear-gradient(top, rgba(236,232,157,1) 0%,rgba(94,83,115,1) 50%,rgba(24,181,164,1) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-image: linear-gradient(to bottom, rgba(236,232,157,1) 0%,rgba(94,83,115,1) 50%,rgba(24,181,164,1) 100%);


	padding: 0px 100px;
	font-size: 25px;
	min-height: 100vh;
}






.animation__circle span{
	display: block;
	margin: 30px 0 0 0;
	text-decoration: underline;
}

.animation__circle{
	color: #000;
	text-align: center;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 0%;
	background-color: rgba(236,232,157,1);
	position: relative;
	animation-name: circle_A;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.animation__circle:hover{
	animation-play-state: paused;
	color: blue;

}

.animation__circle:visited{
	animation-play-state: paused;

}

/* ключевые кадры */
@keyframes circle_A{

0%{
left: 0%;
}
50%{
	left: 30%;
border-radius: 50%;
background: rgba(24,181,164,1);
}
100%{
left: 50%;
}
}


.animation__circle_cube{

width: 100px;
height: 100px;
border-radius: 10%;
background-color: #5e5373;
position: relative;
animation-name: circle_cube;
animation-duration: 3s;
animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* ключевые кадры */
@keyframes circle_cube{

0%{
left: 0%;
}
50%{
border-radius: 50%;
}
100%{
left: 80%;
}
}
